.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  color: antiquewhite;
}

.pictures {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.individual {
  display: flex;
  justify-content: center;
}

img {
  max-width: 1000px;
  max-height: 800px;
}
img:hover {
  opacity: 0.6;
  
}

.footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  img {
    max-width: 300px;
    max-height: 600px;
  }
}

@media (max-width: 500px) {
  img {
    max-width: 300px;
    max-height: 500px;
  }

  .input {
    max-width: 100px;
  }
}
